@model IEnumerable<IngredientDB.BoodschapIngredient>

@{
    ViewBag.Title = "Index";
}

<h2>BoodschappenLijst</h2>

<p>
    @Html.ActionLink("Voeg toe", "Toevoegen")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Naam)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Hoeveelheid)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Eenheid)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
<tr>
    <td>
        @Html.DisplayFor(modelItem => item.Naam)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Hoeveelheid)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Eenheid)
    </td>
    <td>
        @*@Html.ActionLink("Edit", "Edit", new { id = item.ingredientID }) |
        @Html.ActionLink("Details", "Details", new { id = item.ingredientID }) |
        @Html.ActionLink("Delete", "Delete", new { id = item.ingredientID })*@
    </td>
</tr>
    }

</table>

